.paragraph--type--jackson {
  margin-bottom: 1em;
  padding-bottom: .5em;
}

.jackson--container-title {
  @include clearfix();
  border-top: 1px solid #CCC;
  padding-top: 1em;
}

.jackson--container-image {
  max-width: 50%;

  .field--type-image {
    float: none;
  }

  img {
    display: block;
  }
}

article .field--name-field-jackson-icon {
 img {
    margin: 0 0.5em 0 0;
    max-width: 32px;
    height: auto;
 }  
}

.field--name-field-jackson-title {
  @include fontSize(20px);
}

.field--name-field-jackson-subtitle {
  @include fontSize(18px);
}

.field--name-field-jackson-image-description {
  background: #CCC;
  font-style: italic;
  padding: .25em 1em; 
}

.paragraph--type--jackson .jackson--container-image {
  float: right;
  padding: 0 0 0 1em;

  @media #{$smallPhone} {
   float: none; 
   padding: 0;
   max-width: 100%;
  }

  img {
    margin: 0 0 .5em 0;
  }
}

.paragraph--type--jackson.paragraph-jackson--left .jackson--container-image {
  float: left;
  padding: 0 1em 0 0;

  @media #{$smallPhone} {
   float: none; 
   padding: 0;
   max-width: 100%;
  }

  img {
    margin: 0 0 .5em 0;
  }
}
